.section_five {
    width: 100%;
    background-color: #b72126;
    padding: 5rem 10rem;
    display: flex;
    justify-content: center;
    font-family: Raleway;
    position: relative;
  
    .eclipse_left {
      position: absolute;
      width: 10rem;
      height: 10rem;
      object-fit: contain;
      left: 10%;
      bottom: 0px;

      @media(max-width:1600px){     
            left: 5% ;     
      }

      @media(max-width:1300px){     
            left: 2% ;             
      }

      @media(max-width:800px){
  
          left: -6% ;
  
      }
    }
  
    .eclipse_top {
      position: absolute;
      width: 18rem;
      object-fit: contain;
      top: 0px;
      left: 55%;

      @media(max-width:1300px){    
          width: 14rem;     
      }

      @media(max-width:800px){
     
        width: 14rem;
       right: 0%;
    
      }
    }
  
    .section_five_container {
      width: 100%;
      max-width: 1290px;
      display: flex;
      justify-content: space-around;
      position: relative;

      @media(max-width:650px){
      
          flex-direction: column;
          align-items: center;
          gap: 3rem;
    
      }
     
  
      .plus {
        position: absolute;
        color: white;
        font-size: 20px;
        right: 0px;
        top: -10px;

      @media(max-width:380px){
        right: -30px;
      }
      
      }
  
      p {
        font-size: 1.6rem;
        color: white;
        width: 243px;
      }
    }
  }



