.section_one {
  background-color: #fafafa;
  width: 100%;
  position: relative;
  z-index: 33;
}
.section_one nav {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.2rem 0.2rem 0.3rem rgb(199, 199, 199);
  height: 10rem;
  width: 100%;
  background-color: white;
  z-index: 999;
  font-family: "Nunito Sans", sans-serif;
}
.section_one nav .nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  padding: 0rem 10rem;
}
@media (max-width: 1700px) {
  .section_one nav .nav_container {
    padding: 0rem 5rem;
  }
}
@media (max-width: 500px) {
  .section_one nav .nav_container {
    padding: 0rem 2rem;
  }
}
.section_one nav .nav_container .nav_right {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.section_one nav .nav_container .nav_right .nav_ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 2rem;
}
@media (max-width: 800px) {
  .section_one nav .nav_container .nav_right .nav_ul {
    display: none;
  }
}
.section_one nav .nav_container .nav_right .nav_ul .nav_li {
  cursor: pointer;
  font-size: 16px;
}
.section_one nav .nav_container .nav_right .nav_buttons {
  display: flex;
  gap: 2rem;
}
@media (max-width: 800px) {
  .section_one nav .nav_container .nav_right .nav_buttons .nav_btn {
    display: none;
  }
}
.section_one nav .nav_container .nav_right .nav_buttons .line_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  height: 5rem;
  width: 4.9rem;
  box-shadow: 0.02rem 0.1rem 0.3rem 0px rgba(0, 0, 0, 0.02), 0px 0px 0px 0.1rem rgba(27, 31, 35, 0.15);
}
.section_one nav .nav_container .nav_right .nav_buttons .line_container .line {
  border: 0.1rem solid rgb(0, 0, 0);
  width: 2rem;
  height: 0.2rem;
}
.section_one nav .nav_container .nav_right .nav_buttons .line_container .line_right {
  margin-left: 1.5rem;
}
.section_one .hero_section {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.section_one .hero_section .vector_top {
  position: absolute;
  top: 0;
  width: 59.71rem;
  left: 0px;
  top: -50px;
}
.section_one .hero_section .hero_section_container {
  padding: 15rem;
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  justify-content: space-evenly;
  position: relative;
}
@media (max-width: 1400px) {
  .section_one .hero_section .hero_section_container {
    padding: 15rem;
    justify-content: space-between;
  }
}
@media (max-width: 1160px) {
  .section_one .hero_section .hero_section_container {
    padding: 15rem 5rem;
    justify-content: space-between;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .section_one .hero_section .hero_section_container {
    padding: 10rem 2rem;
  }
}
.section_one .hero_section .hero_section_container .middle_img {
  position: absolute;
  width: 30rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1160px) {
  .section_one .hero_section .hero_section_container .container_right {
    margin-top: 4rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    padding-right: 10rem;
  }
}
@media (max-width: 500px) {
  .section_one .hero_section .hero_section_container .container_right {
    margin-bottom: 8rem;
  }
}
.section_one .hero_section .hero_section_container .container_right .big_img_container {
  position: relative;
  max-width: 38rem;
}
.section_one .hero_section .hero_section_container .container_right .big_img_container .vector_middle {
  width: 40.1rem;
  left: 10rem;
  position: absolute;
}
.section_one .hero_section .hero_section_container .container_right .big_img_container .vector_last {
  width: 47.2rem;
  position: absolute;
  left: -50%;
  bottom: -30%;
}
@media (max-width: 1400px) {
  .section_one .hero_section .hero_section_container .container_right .big_img_container {
    width: 36rem;
  }
}
@media (max-width: 1160px) {
  .section_one .hero_section .hero_section_container .container_right .big_img_container {
    margin-bottom: 20rem;
  }
}
@media (max-width: 500px) {
  .section_one .hero_section .hero_section_container .container_right .big_img_container {
    left: 45px;
    width: 100%;
  }
}
.section_one .hero_section .hero_section_container .container_right .big_img_container .woman_img {
  width: 100%;
  position: relative;
}
.section_one .hero_section .hero_section_container .container_right .big_img_container .description_container {
  width: 28.3rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1.2rem;
  padding: 2rem 1.5rem;
  text-align: center;
  position: absolute;
  bottom: 8rem;
  left: 15rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0.8rem 2.4rem;
}
@media (max-width: 500px) {
  .section_one .hero_section .hero_section_container .container_right .big_img_container .description_container {
    left: 80px;
  }
}
@media (max-width: 410px) {
  .section_one .hero_section .hero_section_container .container_right .big_img_container .description_container {
    left: 55px;
    bottom: 30px;
  }
}
@media (max-width: 370px) {
  .section_one .hero_section .hero_section_container .container_right .big_img_container .description_container {
    left: 20px;
    bottom: 30px;
  }
}
@media (max-width: 340px) {
  .section_one .hero_section .hero_section_container .container_right .big_img_container .description_container {
    left: 10px;
    bottom: 0px;
  }
}
.section_one .hero_section .hero_section_container .container_right .big_img_container .description_container p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
}
.section_one .hero_section .hero_section_container .container_right .big_img_container .description_container span {
  color: #faae42;
}
.section_one .hero_section .hero_section_container .container_right .big_img_container .description_container .description_img_container {
  background-color: white;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 0.5rem 1.5rem;
  position: absolute;
  top: -3.5rem;
  left: 1.5rem;
  padding: 1.5rem;
  height: 4.9rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 0.7rem;
}
.section_one .hero_section .hero_section_container .container_right .big_img_container .description_container .description_img_container .img_second,
.section_one .hero_section .hero_section_container .container_right .big_img_container .description_container .description_img_container .img_third,
.section_one .hero_section .hero_section_container .container_right .big_img_container .description_container .description_img_container .img_fourth,
.section_one .hero_section .hero_section_container .container_right .big_img_container .description_container .description_img_container .img_fifth {
  margin-left: -1rem;
}
.section_one .hero_section .hero_section_container .container_left {
  display: flex;
  gap: 5rem;
  position: relative;
}
@media (max-width: 1160px) {
  .section_one .hero_section .hero_section_container .container_left {
    flex-direction: column;
  }
}
.section_one .hero_section .hero_section_container .container_left .small_img_container {
  width: 18.1rem;
  height: 20rem;
  display: flex;
  align-items: flex-end;
  border-radius: 1.2rem;
  background-color: #4ab3af;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1160px) {
  .section_one .hero_section .hero_section_container .container_left .small_img_container {
    position: absolute;
    left: 80px;
  }
}
.section_one .hero_section .hero_section_container .container_left .small_img_container .small_img_container_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-radius: 1.2rem;
  background-color: #4ab3af;
  justify-content: center;
}
.section_one .hero_section .hero_section_container .container_left .small_img_container .small_img_woman {
  max-width: 11.6rem;
  z-index: 5;
}
.section_one .hero_section .hero_section_container .container_left .small_img_container .dots {
  position: absolute;
  bottom: 5.5rem;
  right: 10rem;
}
@media (max-width: 1160px) {
  .section_one .hero_section .hero_section_container .container_left .small_img_container .dots {
    left: -80px;
  }
}
.section_one .hero_section .hero_section_container .container_left .hero_section_description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Raleway", sans-serif;
  padding-top: 4rem;
}
@media (max-width: 1400px) {
  .section_one .hero_section .hero_section_container .container_left .hero_section_description {
    width: 100%;
  }
}
@media (max-width: 1160px) {
  .section_one .hero_section .hero_section_container .container_left .hero_section_description {
    margin-top: 25rem;
  }
}
.section_one .hero_section .hero_section_container .container_left .hero_section_description .p_small_font {
  font-size: 2.4rem;
  line-height: 2.818rem;
  font-weight: 400;
  max-width: 15rem;
}
@media (max-width: 340px) {
  .section_one .hero_section .hero_section_container .container_left .hero_section_description .p_small_font {
    font-size: 1.5rem;
  }
}
.section_one .hero_section .hero_section_container .container_left .hero_section_description h1 {
  font-weight: 400;
  font-size: 6rem;
  max-width: 51.5rem;
}
@media (max-width: 1400px) {
  .section_one .hero_section .hero_section_container .container_left .hero_section_description h1 {
    max-width: 100%;
  }
}
@media (max-width: 1160px) {
  .section_one .hero_section .hero_section_container .container_left .hero_section_description h1 {
    font-size: 5rem;
  }
}
@media (max-width: 340px) {
  .section_one .hero_section .hero_section_container .container_left .hero_section_description h1 {
    font-size: 3rem;
  }
}
.section_one .hero_section .hero_section_container .container_left .hero_section_description .p_big_font {
  font-size: 3.5rem;
  line-height: 4.696rem;
  font-weight: 400;
  max-width: 66.1rem;
}
@media (max-width: 1400px) {
  .section_one .hero_section .hero_section_container .container_left .hero_section_description .p_big_font {
    max-width: 100%;
    font-size: 3rem;
  }
}
@media (max-width: 1160px) {
  .section_one .hero_section .hero_section_container .container_left .hero_section_description .p_big_font {
    font-size: 3rem;
  }
}
@media (max-width: 340px) {
  .section_one .hero_section .hero_section_container .container_left .hero_section_description .p_big_font {
    font-size: 2rem;
  }
}
.section_one .hero_section .hero_section_container .container_left .hero_section_description .hero_section_btns {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}
.section_one .hero_section .arrow {
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: 15rem;
  height: 17.9rem;
}
.section_one .hero_section .star_img_container {
  position: absolute;
  bottom: 13rem;
  left: 15.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5rem 10rem -2rem, rgba(0, 0, 0, 0.3) 0px 3rem 6rem -3rem;
  padding: 1rem 1rem;
  border-radius: 1.2rem;
  width: 19rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20.2rem;
  background-color: white;
}
.section_one .hero_section .star_img_container .star {
  width: 8rem;
  height: 8rem;
}
.section_one .hero_section .star_img_container p {
  font-size: 1.8rem;
  font-family: Raleway;
  text-align: center;
}/*# sourceMappingURL=section_one.css.map */